.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-group input {
    width: 10rem;
    height: 1.5rem;
    border-radius: 5px;
}

.input-group .result{
    color: aliceblue;
    font-size: 15px;
}